@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

#meu-id {
    background-color: rgb(255, 53, 53);
    border-color: yellow;
    border-width: 5px;
    border-style: solid;
}

.minha-classe {
    background-color: green;
    border-radius: 15px;

    font-size: 110%;
    font-family: 'Nunito', sans-serif;

    margin-top: 15px;
    padding: 15px;
}

div {
    width: 300px;
    height: 300px;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.caixas {
    width: auto;
    height: auto;
    background-color: gray;
    margin: 10px;
    padding: 10px;
}

/* Rolagem suave ao clicar no menu */
html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 580px) {
    .minha-classe {
        background-color: blue;
    }

    #meu-id {
        background-color: brown;
    }
}

@media screen and (max-width: 768px) {
    .caixas {
        display: flex;
        flex-direction: column;
    }
    
}