div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;

    background-color: gray;
}

@media screen and (max-width: 580px) {
    div {
        flex-direction: column;
    }
    
}