@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #3E2C1C;
  --color-secondary: #5A3E2B;

  --color-light: #f7e5b9;
  --color-light-2: #f1ddaa;
  --color-white: #FFFFFF;
  --color-gray: #B8B8B8;

  --color-accent: #da853b;
  --color-accent-hover: #f7c068;
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p, span, li {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #5a422a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}